<div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="header-inner">
        <h1 class="header-logo">
          <a href=".">YUICHIRO　PORTFOLIO</a>
        </h1>
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item"><a href="#works">Design</a></li>
            <li class="header-nav-item"><a href="#skill">APP</a></li>
            <li class="header-nav-item"><a href="#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <section class="works section" id="works">
        <div class="inner">
          <h2 class="title">APP</h2>
          <div class="works-list">
              <%= link_to image_tag("logo.png", class:"google-btn"), "https://time-lock.herokuapp.com" %>
              <p>ポモドーロを使って学習している時間をロックするという意味で通称TimeLockアプリを作成しました<br>
              ポモドーロタイマーとは・・日々の学習などのタスクを25分間続けた後に5分の休憩を取り、そのサイクルを<br>
              最大4回続けるという時間管理術です<br>
              このアプリは3点に拘り実装しました<br>
              １点目は、ユーザー管理機能、２点目は、chart機能（グラフ）、3点目はcalender機能です<br>
              ユーザID:admin29  パスワード:2922<br>
              テストユーザー:test@test.jp  password:qwe123</p>
          </div>
          <div class="works-list">
              <%= link_to image_tag("furima-logo-color.png", class:"google-btn"), "https://furima-28644.herokuapp.com/" %>
              <p>仮想furimaアプリを作成しました<br>
              furimaアプリとは・・誰でも簡単に出品・購入できる<br>
              web上のフリーマーケットの様なアプリです<br>
              このアプリは商品出品機能・商品購入機能・ユーザー管理機能の実装をしております<br>
              １点目は、ユーザー管理機能、２点目は、chart機能（グラフ）、3点目はcalender機能です<br>
              ユーザID:admin39  パスワード:3922<br>
              テストユーザー:test@test.jp  password:qwe123</p>
          </div>
        </div>
      </section>

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="inner">
          <div class="inner">
          <h2 class="title">CONTACT</h2>
          <div class="contact-list">
          <a href="https://twitter.com/https:/yvichrou211" class="btn-social-icon-twitter"><span class="btn-social-icon-twitter__square"><i class="fa fa-twitter"></i></span></a> 
          <p class="lead">
            お問い合わせは、<br class="sp-only">SNSにてお願いいたします。
          </p>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;YUICHIRO WATANABE</div>
    </footer>
    <!-- /footer -->

